

<!-- admin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
   <title>Admin Page</title>
   <script src="{{ url_for('static', filename='highcharts/highstock.js') }}"></script>
</head>
<body>
   <h1 id="welcome">Welcome, Admin</h1>
   <div class="stocks-section">
    <h2>Here are the registered stocks:</h2>
       <div class="stocks-registered">
           <ul>
            {% for symbol, data in stocks.items() %}
            <li>{{ symbol }}: {{ data['company_name'] }} - ${{ data['price'] }} (Volume: {{ data['volume'] }})
                <form action="{{ url_for('delete_stock', symbol=symbol) }}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <div class="delete-button"><button type="submit" class="button-danger" style="font-size: 15px; border-radius: 5px;">Delete</button>
                    </div>                    
                </form>
            </li>
            {% endfor %}
        </ul>
       </div>
       <div class="stocks-new">
       <!-- Form for adding new stock -->
       <form action="{{ url_for('add_stock') }}" method="post">
           <label for="symbol">Symbol:</label>
           <input type="text" id="symbol" name="symbol" required><br>
           <label for="company_name">Company Name:</label>
           <input type="text" id="company_name" name="company_name" required><br>
           <label for="price">Price:</label>
           <input type="number" id="price" name="price" required><br>
           <label for="volume">Volume:</label>
           <input type="number" id="volume" name="volume" required><br>
           <input type="submit" value="Add Stock" style="border-radius: 5px;font-size: 15px;">
       </form>
       </div>
   </div>


   <h2 id ="available">Available Stocks</h2>
   <select id="stockSelect" onchange="updateGraph()" style = "background-color: #333333; color:white; margin: 0 0 0 250px;">
       {% for symbol, data in stocks.items() %}
           <option value="{{ symbol }}">{{ symbol }}</option>
       {% endfor %}
   </select>
   <div id="stockChart" style="height: 450px; width: 1000px; margin: 0 auto;"></div>
   <h3>Stock Data</h3>
   <table>
       <thead>
           <tr>
               <th>Symbol</th>
               <th>Company Name</th>
               <th>Price</th>
               <th>Volume</th>
           </tr>
       </thead>
       <tbody>
           {% for symbol, data in stocks.items() %}
           <tr id="stockRow_{{ symbol }}">
               <td>{{ symbol }}</td>
               <td>{{ data['company_name'] }}</td>
               <td>${{ data['price'] }}</td>
               <td>{{ data['volume'] }}</td>
           </tr>
           {% endfor %}
       </tbody>
   </table>

   <div class="user-data">
    <h3 style="margin-top: 40px;">User Data</h3>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Money</th>
                <th>Stocks Bought</th>
                <th>Quantities</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_data %}
            <tr>
                <td>{{ user.Username }}</td>
                <td>{{ user.Money }}</td>
                <td>
                    {% for symbol, volume in user.Stocks|dictsort %}
                        {% if volume and volume != 0 %}
                            {{ symbol }}{% if not loop.last %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for symbol, volume in user.Stocks|dictsort %}
                        {% if volume and volume != 0 %}
                            {{ volume }}{% if not loop.last %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

   <p><a href="{{ url_for('logout') }}">Logout</a></p>
</div>
<script src="{{ url_for('static', filename='load.js') }}"></script>
</body>
</html>
