

<!-- admin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
   <title>Admin Page</title>
   <script src="{{ url_for('static', filename='highcharts/highstock.js') }}"></script>
</head>
<body>
   <h1 id="welcome">Admin Page</h1>
   <p>Welcome, Admin!</p>
   <div class="stocks-section">
       <div class="stocks-registered">
           <p>Here are the registered stocks:</p>
           <ul>
               {% for symbol, data in stocks.items() %}
                   <li>{{ symbol }}: {{ data['company_name'] }} - ${{ data['price'] }} (Volume: {{ data['volume'] }})</li>
               {% endfor %}
           </ul>
       </div>
       <div class="stocks-new">
       <!-- Form for adding new stock -->
       <form action="{{ url_for('add_stock') }}" method="post">
           <label for="symbol">Symbol:</label>
           <input type="text" id="symbol" name="symbol" required><br>
           <label for="company_name">Company Name:</label>
           <input type="text" id="company_name" name="company_name" required><br>
           <label for="price">Price:</label>
           <input type="number" id="price" name="price" required><br>
           <label for="volume">Volume:</label>
           <input type="number" id="volume" name="volume" required><br>
           <input type="submit" value="Add Stock">
       </form>
       </div>
   </div>


   <h2 id ="available">Available Stocks</h2>
   <select id="stockSelect" onchange="updateGraph()">
       {% for symbol, data in stocks.items() %}
           <option value="{{ symbol }}">{{ symbol }}</option>
       {% endfor %}
   </select>
   <div id="stockChart" style="height: 400px; min-width: 310px"></div>
   <table>
       <thead>
           <tr>
               <th>Symbol</th>
               <th>Company Name</th>
               <th>Price</th>
               <th>Volume</th>
           </tr>
       </thead>
       <tbody>
           {% for symbol, data in stocks.items() %}
           <tr id="stockRow_{{ symbol }}">
               <td>{{ symbol }}</td>
               <td>{{ data['company_name'] }}</td>
               <td>${{ data['price'] }}</td>
               <td>{{ data['volume'] }}</td>
           </tr>
           {% endfor %}
       </tbody>
   </table>
   <p><a href="{{ url_for('logout') }}">Logout</a></p>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
