<html<!DOCTYPE html>
    <head>
        <title>Financial Data Chart
        </title>
        <script src="{{ url_for('static', filename='highcharts/highstock.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
    </head>
    <title>

    </title>
    <body>
<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<div class="logo">
				<span class="logo-icon">
					<img src="https://i.ibb.co/m680bPM/v.png" />
				</span>
				<h1 class="logo-title">
					<span>Villanova</span>
					<span>Exchange</span>
				</h1>
			</div>
		</div>
		<div class="app-header-navigation">
			<div class="tabs" >
				<a href="#">
					Overview
				</a>
				<a href="{{ url_for('get_d') }}" class="active" >
					Dashboard
				</a>
				<a href="{{ url_for('trade') }}">
					Trade
				</a>
				<a href="{{ url_for('get_news') }}">
					News
				</a>
				<a href="{{ url_for('withdraw') }}">
					Withdraw
				</a>
				<a href="#">
					Account
				</a>
			</div>
		</div>
		<div class="app-header-actions">
			<button class="user-profile">
				<span>{{ username }}</span>
				<span>
					<img src="https://i.ibb.co/m680bPM/v.png" />
				</span>
			</button>
			<div class="app-header-actions-buttons">
               
				<a href="{{ url_for('logout') }}">
                    <button class="icon-button large">
                        <i class="ph-sign-out"></i> Logout
                    </button>
                </a>
                
                
				
			</div>
		</div>
		<div class="app-header-mobile">
			<button class="icon-button large">
				<i class="ph-list"></i>
			</button>
		</div>

	</header>
	<div class="app-body">
		<div class="app-body-navigation">
			<nav class="navigation">
				<a href="{{ url_for('get_d') }}">
					<i class="ph-browsers"></i>
					<span>Dashboard</span>
				</a>
				<a href="{{ url_for('add_money') }}">
					<i class="ph-check-square"></i>
					<span>Add Money</span>
				</a>
				<a href="{{ url_for('trade') }}">
					<i class="ph-swap"></i>
					<span>Trade</span>
				</a>
				<a href="{{ url_for('mystocks') }}">
					<i class="ph-file-text"></i>
					<span>My Stocks</span>
				</a>
				<a href="{{ url_for('get_news') }}">
					<i class="ph-globe"></i>
					<span>News</span>
				</a>
				<a href="{{ url_for('withdraw') }}">
                            <i class="ph-clipboard-text"></i>
                            <span>Withdraw</span>
                        </a>
			</nav>
			<footer class="footer">
				<h1>VillaStock<small>©</small></h1>
				<div>
					Swopnil ©<br />
					All Rights Reserved 2024
				</div>
			</footer>
		</div>
		<div class="app-body-main-content">

			<section class="service-section">
                <div style="background-color: transparent; color: rgb(255, 255, 255); padding: 10px; border-radius: 5px; font-size: 24px; font-family: Arial, sans-serif;">${{ available_money }}</div>
<div class="available-money">
    <div class="money-info">
        <span class="arrow-down">▼ </span   >
        <span class="money-amount">$7.95</span>
        <span class="percentage-change">(2.48%)</span>
    </div>
    <div class="date-info">Today</div>
</div>
                    <section class="service-section">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div id="chartContainer" style="width: 700px;"></div>
                            </div>
                        </div>
			</section>
          
			<section class="transfer-section">
				<div class=container>
					<div class="container1">
						<div class="stock-label">
							<h3><label for="stockSelect">Select Stock:</label></h3>
							<select id="stockSelect" onchange="updateGraph()">
								<option value="">-- Select Stock --</option>
								{% for symbol, data in stocks.items() %}
									<option value="{{ symbol }}">{{ symbol }} - {{ data['company_name'] }}</option>
								{% endfor %}
							</select>
						</div>
						<div id="stockChart" style="height: 400px; width: 700px; " ></div>
					</div>
					<div class="container2">
					<div class="transfer-section-header">
						<h3>Latest transactions</h3>
					</div>
					<div class="transfers">
						{% for transfer in transfers %}
						<div class="transfer">
							<dl class="transfer-details">
								<div>
									<dt class="sdd">{{ transfer.company_name }}</dt>
									<dt class ="mmm">{{ transfer.transaction_type }}</dt>
								</div>
								<div>
									<dt class="date"> {{ transfer.timestamp }}</dt>

								</div>
								<script>
								var timestamp = "{{ transfer.timestamp }}";

								// Convert the timestamp string to a Date object
								var dateObj = new Date(timestamp);
							
								// Extract the date part
								var datePart = dateObj.toISOString().split('T')[0];
							
								// Display the date
								document.getElementById('date').textContent = datePart;
                                console.log(datePart)
								</script>
							</dl>
							<div class="transfer-number">
								$ {{ transfer.amount }}
							</div>
						</div>
						{% endfor %}
					</div>
					</div>
				</div>
            </section>
            
		</div>
		<div class="app-body-sidebar">
			<section class="payment-section">
                <h3 class="trending-stocks-label" style="font-size:20px;">Trending Stocks</h3>
                <table style="font-size:20px;">
                    
                    <tbody>
                        {% for symbol, data in stocks.items() %}
                        <tr>
                            <td>{{ symbol }}</td>
                        
                            <td>${{ data['price'] }}
                                {% if data['price'] < 50 %}
                                <span class="arrow-up">▲</span>
                            {% else %}
                                <span class="arrow-down">▼</span>
                     
                        {% endif %}
                    </td>
                       
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            
		</div>
	</div>
</div>


				

                 <script>
        Highcharts.chart('stockChart', {
           exporting: {
        buttons: {
            contextButton: {
                theme: {
                    fill: 'rgba(0, 0, 0, 0)', // Transparent fill color
                    stroke: 'none', // No stroke
                    'stroke-width': 0, // No stroke width
                    r: 0, // No border radius
                    style: {
                        color: '#ffffff' // White color for the button text
                    },
                    states: {
                        hover: {
                            fill: 'rgba(255, 255, 255, 0.1)', // Transparent fill color on hover
                            stroke: 'none', // No stroke on hover
                            style: {
                                color: '#ffffff' // White color for the button text on hover
                            }
                        },
                        select: {
                            fill: 'rgba(255, 255, 255, 0.1)', // Transparent fill color when selected
                            stroke: 'none', // No stroke when selected
                            style: {
                                color: '#ffffff' // White color for the button text when selected
                            }
                        }
                    }
                }
            }
        }
    },
            // Other chart options...
            series: [{
                // Other series options...
                color: '#008000', // Green color for the line
            }],
            xAxis: {
                // Other xAxis options...
                labels: {
                    style: {
                        color: '#ffffff' // White color for xAxis labels
                    }
                }
            },
            yAxis: {
                // Other yAxis options...
                labels: {
                    style: {
                        color: '#ffffff' // White color for yAxis labels
                    }
                }
            },
            // Other chart options...
        });
    </script>

<script src="{{ url_for('static', filename='load.js') }}"></script>
<!-- Bootstrap JS (Optional) -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS (Optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- DevExpress JavaScript Library -->
<script src="https://cdn3.devexpress.com/jslib/21.2.6/js/dx.all.js"></script>

<script>
    
$(document).ready(function () {
    // Get the timestamp from the transfer object
   

    var data = generateRandomData();
    var chartOptions = {
        dataSource: data,
        commonSeriesSettings: {
            
            argumentField: "year",
            type: "spline",
            color: "green",
            hoverMode: "allArgumentPoints", // Show tooltips for all points on hover
            selectionMode: "none",
            point: { visible: false }
        },
        series: [
           
            { valueField: "cluster" } 
        ],
        argumentAxis: {
            discreteAxisDivisionMode: "crossLabels",
            label: {
                visible: false // Hide labels
            },
            visible: false,
            grid: {
                visible: false
            },
            tickInterval: 1
        },
        legend: {
            horizontalAlignment: "right",
            verticalAlignment: "top",
            itemTextPosition: "right"
        },
        
        valueAxis: {
            visible: false,
            grid: false // Remove Y-axis labels
            ,label: {
                visible: false // Hide labels
            }
        },
        tooltip: {
            enabled: true, // Enable tooltips
            customizeTooltip: function (arg) {
                return {
                    text: arg.argument
                };
            }
        }
    };
    $("#chartContainer").dxChart(chartOptions);
});

function generateRandomData() {
    var data = [];
    for (var i = 1; i <= 10; i++) {
        data.push({
            year: i,
            smp: Math.floor(Math.random() * 100),
            mmp: Math.floor(Math.random() * 100),
            cnstl: Math.floor(Math.random() * 100),
            cluster: Math.floor(Math.random() * 100)
        });
    }
    return data;
}
</script>
</body>
</html>